* text=auto
*.cs text eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.md text eol=lf
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/Models/Quaternius/UltimateStylizedNature/*.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Resources/Models/Custom/Environment/StartingIsland/**/*.png filter=lfs diff=lfs merge=lfs -text
